# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\bello\OneDrive\Documents\class_repos\cs5004\assignments\Group_Stamesha_Bello_Colin_Nordquist_George_Alvarado-Salinas\HW09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
